body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.header-panel {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
}

.container {
    position: fixed;
    top: 64px;
    left: 256px;
    width: 75%;
    height: 75%;
    padding: 25px;
} 

.main-background-color {
    background-color: #7E57C2;
}

.left-panel {
    width: 256px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}
.menu-item {
    margin-left: 0px;
}
.menu-item a {
    text-decoration: none;
    padding: 16px;
    cursor: pointer;
    color: black; 
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.menu-item a.active {
    background-color: #B39DDB;
}
.menu-item a:hover {
    background-color: rgba(0,0,0,0.0980392);
}
.main-title {
    cursor: pointer;
    font-size: 24px;
    color: rgb(255, 255, 255);
    line-height: 64px;
    font-weight: 300;
    padding-left: 24px;
    margin-bottom: 8px;
}

.padding-5 {
    padding: 5px;
}

.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}

.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

.block {display: block;}
.inline {display: inline;}
.inline-block {display: inline-block;}

.number {
    width: 30px;
    padding: 5px;
    border-radius: 5px;
}

.em10 {
    width: 10em;
}